## SBIR/STTR Impact of University Commercializaton Research 
### INSTITUTIONS DATASET

### Ismael Rodriguez
### 18 JUN 2020

A. Software Preparation

In [2]:
import urllib.request
import json
import pprint
from pprint import pprint
import pandas as pd

B. Data Preparation

In [3]:
# Data retreived from US Dept of Education IPEDS on 06/18/20 @ https://nces.ed.gov/ipeds/datacenter/Data.aspx
dfIPEDS = pd.read_csv('data/IPEDS_Institutions_06182020.csv')

In [4]:
dfIPEDS.head()

,UnitID,Institution Name,State,ZIP,Longitude,Latitude,OPEID
0,177834,A T Still University of Health Sciences,MO,63501,-92.589183,40.193648,247700
1,488165,Academy of Cosmetology and Esthetics,MO,64772-2805,-94.375701,37.837500,4247100
2,451334,Academy of Hair Design-Springfield,MO,65804,-93.261354,37.180584,4037500
3,480879,Academy of Salon Professionals,MO,65301,-93.251559,38.690729,4212100
4,152798,Allen College,IA,50703-1999,-92.340148,42.530084,3069100

In [5]:
# Extraction of ZIP adapted from https://stackoverflow.com/questions/51607400/how-to-extract-first-8-characters-from-a-string-in-pandas
dfIPEDS['ZIP5'] = dfIPEDS['ZIP'].str[:5]

In [6]:
dfIPEDS.head()

,UnitID,Institution Name,State,ZIP,Longitude,Latitude,OPEID,ZIP5
0,177834,A T Still University of Health Sciences,MO,63501,-92.589183,40.193648,247700,63501
1,488165,Academy of Cosmetology and Esthetics,MO,64772-2805,-94.375701,37.837500,4247100,64772
2,451334,Academy of Hair Design-Springfield,MO,65804,-93.261354,37.180584,4037500,65804
3,480879,Academy of Salon Professionals,MO,65301,-93.251559,38.690729,4212100,65301
4,152798,Allen College,IA,50703-1999,-92.340148,42.530084,3069100,50703

In [7]:
dfIPEDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UnitID            385 non-null    int64
 1   Institution Name  385 non-null    object
 2   State             385 non-null    object
 3   ZIP               385 non-null    object
 4   Longitude         385 non-null    float64
 5   Latitude          385 non-null    float64
 6   OPEID             385 non-null    int64
 7   ZIP5              385 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 24.2+ KB

In [8]:
dfIPEDS.to_excel('data/IPEDS_Institutions_by_loc_06182020.xls')